.clients-item{
    margin-bottom: 100px;
}


.clients-slick-btn {
    position: absolute;
    right: 0;
    background: #005FA3;
    padding: 22px 25px 23px 26px;
    font-size: 25px;
    color: #ffffff;
    border: none;
    transition: all 1s;
    outline: none;
}

.clients-slick-prev {
    bottom: 47.3px;
    right: 65.5px;
}

.clients-slick-btn:hover {
    opacity: 0.3;
}

.clients .slick-dots button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #005FA3;
    opacity: 0.4;
    font-size: 0;
    border: none;
    margin-bottom: 100px;
    outline: none;
}
.clients .slick-dots li{
    display: inline-block;
}
.clients .slick-dots li + li{
    margin-left: 40px;
}
.clients .slick-dots .slick-active button{
    opacity: 1;
}      