.service{
    margin-bottom: 140px;
}


.services__sub-title,.about__sub-title,.clients__sub-title,.comments__sub-title{
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    margin-top: 140px;
}

.services__title,.about__title,.clients__title,.comments__title{
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 102px;
    font-family: 'Merriweather', serif;
}

.services-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 140px;
}

.services-item {
    width: 350px;
    height: 360px;
    background-image: url(../images/service.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    text-align: center;
    transition: all 0.5s;
}

.services-item__text {
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 261px;
    z-index: 2;
}

.services-item:hover {
    opacity:0.3 ;

}
