/* font-family: 'Merriweather', serif;
font-family: 'Lato', sans-serif; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #EBEBEB;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    margin: 0 auto;
    max-width: 1110px;
}